/*  your css code here. If applicable */

body {
	display:flex;
	justify-content:center;
	align-content:center;
	flex-wrap:wrap;
	height:100vh;
}

#line {
	width:200px;
	height:2px;
	background-color:black;
	animation:anime1 2s linear infinite;
}

@keyframes anime1 {
	from {
		trasform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}