/*  your css code here. If applicable */

body {
	
}

#line {
	position:absolute;
	top:50vh;
	left:40vw;
	width:200px;
	height:2px;
	background-color:black;
	animation:anime1 2s linear infinite;
}

@keyframes anime1 {
	from {
		trasform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}